@import url('https://fonts.googleapis.com/css2?family=Hurricane&family=Open+Sans:ital,wght@0,400;0,500;1,600&display=swap');


*
{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body
{
     width: 100%;
     background-color: #e9ecef;
     background-image: url(../images/batman5.jpg);
     background-position:center;
     background-repeat: no-repeat;
     background-size: cover;
     text-align:center;
     color: #fff;
}

.b2
{
    color: #000;
    font-size: 40px;
    font-style: italic;
    padding-top: 20vh;
}

.hero
{
    color: #000;
    font-size: 20px;
    font-style: italic;
}

.form-control
{
    width: 45%;
    justify-content: center;
    margin:auto;
}







